/*--|All|--*/
@font-face{
font-family:'Christ';
src:url('font/c4.otf')format('truetype');
}
*{
/*font*/
font-family:'Christ';
font-size:1.5vw;
color:#F0F0F0;
/*display*/
margin:0;
padding:0;
box-sizing:content-box;
}
::selection {
background-color:#F0F0F0;
color:#0D0D0D;
}
/*--|All|--*/

/*--|Header|--*/
#hd{
/*display*/
position:fixed;
display:flex;
width:100%;
height:5vw;
top:0;
left:0;
right:0;
justify-content:space-between;
align-items:center;
background:#0D0D0D;
z-index:100;
}
#lg{
/*display*/
display:flex;
width:50%;
height:100%;
justify-content:flex-start;
align-items:center;
}
.lg{
/*display*/
position:relative;
display:flex;
width:4vw;
left:4vw;
/*border*/
border-radius:5vw;
/*cursor*/
cursor:pointer;
}
#ls{
/*font*/
list-style-type:none;
/*display*/
display:flex;
width:50%;
height:100%;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.nv{
/*font*/
font-size:1vw;
text-decoration:none;
color:transparent;
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.nv:hover{
/*font*/
color:#F0F0F0;
}
.im{
/*display*/
width:2vw;
}
#divhd{
/*display*/
display:none;
}
#lsm{
/*display*/
display:none;
}
@media screen and (max-width: 768px){
#hd{
/*display*/
width:100%;
height:15vw;
}
.lg{
/*display*/
width:12vw;
/*border*/
border-radius:50%;
}
#ls{
/*display*/
display:none;
}
#divhd{
/*display*/
position:relative;
display:flex;
right:5vw;
}
#mnm{
/*display*/
width:10vw;
}
#lsm{
/*font*/
text-align:left;
list-style-type:none;
/*display*/
display:none;
position:absolute;
padding:5vw 10vw;
top:0;
right:-5vw;
flex-direction:column;
justify-content:center;
align-items:flex-end;
background:#0D0D0D;
/*border*/
border-radius:5vw;
}
.nvls{
/*font*/
font-size:5vw;
text-align:left;
text-decoration:none;
/*display*/
display:flex;
margin:2vw 0;
flex-direction:row-reverse;
justify-content:left;
align-items:center;
}
.im{
/*display*/
width:8vw;
margin:0 0 0 5vw;
}
}
/*--|Header|--*/

/*--|Footer|--*/
#ft{
/*display*/
position:absolute;
display:flex;
width:100%;
height:4vw;
bottom:revert;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0D0D0D;
}
.dvft{
/*display*/
display:flex;
width:30%;
justify-content:space-evenly;
align-items:center;
}
.lk{
/*font*/
font-size:1.5vw;
font-weight:500;
text-align:center;
text-decoration:none;
/*display*/
}
.txft:hover{
/*font*/
text-shadow:0.1vw 0.1vw 1vw #F0F0F0;
color:#0D0D0D;
}
@media screen and (max-width: 768px){
#ft{
/*display*/
height:40vw;
}
.dvft{
/*display*/
width:95%;
flex-direction:column;
}
.txft{
/*font*/
font-size:6vw;
}
.txft img{
/*display*/
width:8vw;
}
#ft p{
/*font*/
font-size:6vw;
text-align:center;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
}
/*--|Footer|--*/

/*--|Main|--*/
#sc1{
/*display*/
position:relative;
display:flex;
width:100%;
height:48vw;
margin:2vw 0 0 0;
padding:0;
flex-direction:row;
justify-content:center;
align-items:center;
background-image:url('images/js.jpg');
background-size:cover;
background-position:center;
}
#sc1::after {
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-color: rgba(0, 0, 0, 0.3); /* Aqui você pode ajustar a opacidade alterando o último valor (0.5) */
}
.dv1{
/*display*/
display:flex;
width:50%;
flex-direction:column;
justify-content:center;
align-items:center;
z-index:1;
}
.tt1{
/*font*/
font-size:4vw;
font-weight:900;
text-align:center;
text-shadow:0.1vw 0.1vw 0.2vw #0D0D0D;
color:#F0F0F0;
/*display*/
display:flex;
width:90vw;
margin:0 0 20vw 0;
justify-content:center;
align-items:center;
}
.tt2{
/*font*/
font-size:4vw;
font-weight:900;
text-align:center;
text-shadow:0.1vw 0.1vw 0.2vw #0D0D0D;
color:#F0F0F0;
/*display*/
display:flex;
width:90vw;
justify-content:center;
align-items:center;
}
#sc2{
/*display*/
display:flex;
width:100%;
height:48vw;
flex-direction:row-reverse;
justify-content:space-around;
align-items:center;
background:#0D0D0D;
}
.dv2{
/*display*/
display:flex;
width:50%;
flex-wrap:wrap;
flex-direction:row;
justify-content:space-around;
align-items:center;
}
.vd1{
/*display*/
width:25vw;
height:35vw;
z-index:1;
/*border*/
border-radius: 2vw;
}
.bl{
/*display*/
position:absolute;
top:15vw;
left:20vw;
width:10vw;
height:10vw;
filter:blur(10vw);
border-radius:50%;
background:#FFFFFF;
}
.tt3{
/*font*/
font-size:2vw;
font-weight:900;
/*display*/
display:flex;
width:100%;
margin:0 0 10vw 0;
justify-content:center;
align-items:center;
}
.tx1{
/*font*/
text-align:justify;
/*display*/
display:flex;
width:100%;
margin:0 0 0 5vw;
justify-content:flex-start;
align-items:center;
}
#sc3{
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0D0D0D;
}
.bl0{
/*display*/
position:absolute;
top:125vw;
left:20vw;
width:10vw;
height:10vw;
filter:blur(10vw);
border-radius:50%;
background:#FFFFFF;
}
#sc4{
/*display*/
display:flex;
width:100%;
height:50vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0D0D0D;
}
.tt5{
/*font*/
font-size:2vw;
text-align:center;
/*display*/
margin:5vw 0 0 0;
}
.dv4{
/*display*/
display:flex;
width:100%;
flex-direction:row-reverse;
justify-content:center;
align-items:center;
}
.dv5{
/*display*/
display:flex;
width:45%;
flex-direction:column;
justify-content:center;
align-items:center;
}
.tx4{
/*font*/
font-size:1.5vw;
text-align:center;
text-decoration:none;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.tx4:hover{
/*font*/
text-shadow:0.1vw 0.1vw 0.5vw #FFFFFF;
}
.dv6{
/*display*/
display:flex;
width:45%;
margin:2vw 0 0 0;
flex-direction:row;
justify-content:center;
align-items:center;
}
.im4{
/*display*/
display:flex;
width:3vw;
margin:1vw;
justify-content:space-evenly;
align-items:center;
}
.im4:hover{
/*font*/
filter: brightness(0.5);
}
.dv7{
/*display*/
display:flex;
width:50%;
padding:5vw;
justify-content:center;
align-items:center;
}
.im5{
/*display*/
/*border*/
box-shadow:0.2vw 0.2vw 1vw #F0F0F0;
border-radius:2vw;
}
@media screen and (max-width: 768px){
#sc1{
/*display*/
height:220vw;
background-image:url('images/js1.jpg');
}
#sc1::after {
background-color: rgba(0, 0, 0, 0.5);
}
.dv1{
/*display*/
width:100%;
}
.tt1{
/*font*/
font-size:10vw;
text-align:center;
/*display*/
margin:0 0 60vw 0;
}
.tt2{
/*font*/
font-size:10vw;
text-align:center;
}
#sc2{
/*display*/
height:290vw;
flex-direction:column;
}
.dv2{
/*display*/
display:flex;
width:90%;
justify-content:center;
align-items: center;
}
.vd1{
/*display*/
display:flex;
position: absolute;
width: 100vw;
height: 100vw;
top:-30vw;
justify-content:center;
align-items:center;
}
.bl{
/*display*/
display:none;
}
.tt3{
/*font*/
font-size:10vw;
text-align: center;
}
.tx1{
/*font*/
font-size:6vw;
hyphens:auto;
/*display*/
width:90%;
margin:0;
justify-content:center;
}
#sc3{
/*display*/
height:400vw;
}
.bl0{
/*display*/
top:535vw;
left:13vw;
width:70vw;
height:70vw;
filter:blur(15vw);
}
#sc4{
/*display*/
height:200vw;
}
.tt5{
/*font*/
font-size:10vw;
}
.dv4{
/*display*/
flex-direction:column-reverse;
}
.dv5{
/*display*/
width:80%;
}
.tx4{
/*font*/
font-size:6vw;
}
.lk{
/*font*/
font-size:6vw;
}
.dv6{
/*display*/
width:80%;
}
.im4{
/*display*/
width:15vw;
margin:5vw;
}
.dv7{
/*display*/
width:80%;
padding:10vw 0;
}
.im5{
/*border*/
box-shadow:0.5vw 0.5vw 2vw #F0F0F0;
}
}
/*--|Main|--*/

/*--|Sobre Nós|--*/
#sc5{
/*display*/
display:flex;
width:100%;
height:55vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0D0D0D;
}
.tt6{
/*font*/
font-size:2vw;
color:#FFFFFF;
/*display*/
display:flex;
margin:6vw 0 2vw 0;
justify-content:center;
align-items:center;
}
.dv8{
/*display*/
display:flex;
width:100%;
margin:2vw;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.im6{
/*display*/
display:flex;
width:30vw;
justify-content:center;
align-items:center;
z-index:1;
clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
/*border*/
border-radius:2vw;
}
.bl1{
/*display*/
position:absolute;
top:20vw;
left:18vw;
width:10vw;
height:10vw;
filter:blur(15vw);
border-radius:50%;
background:#FFFFFF;
}
.dv9{
/*display*/
display:flex;
width:50%;
flex-direction:column;
justify-content:center;
align-items:center;
}
.tx5{
/*font*/
text-align:justify;
color:#FFFFFF;
/*dispaly*/
display:flex;
width:90%;
margin:0 0 3vw 0;
justify-content:center;
align-items:center;
}
@media screen and (max-width: 768px){
#sc5{
/*display*/
height:440vw;
flex-direction:column;
justify-content:center;
align-items:center;
}
.tt6{
/*font*/
font-size:10vw;
/*display*/
margin:5vw 0 5vw 0;
}
.dv8{
/*display*/
flex-direction:column;
}
.im6{
/*display*/
width:85vw;
}
.bl1{
/*display*/
top:60vw;
left:13vw;
width:70vw;
height:70vw;
}
.dv9{
/*display*/
width:100%;
margin:5vw 0;
}
.tx5{
/*font*/
font-size:6vw;
hyphens:auto;
/*dispaly*/
width:80%;
}
}
/*--|Sobre Nós|--*/

/*--|Contribuição|--*/
#sc6{
/*display*/
display:flex;
width:100%;
height:45vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0D0D0D;
}
.tt7{
/*font*/
font-size:2vw;
text-align:center;
/*display*/
width:100%;
margin:2.5vw;
}
.dv10{
/*display*/
display:flex;
width:100%;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.dv11{
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.im7{
/*display*/
display:flex;
width:20vw;
margin:2vw 0 0 0;
justify-content:center;
align-items:center;
}
@media screen and (max-width: 768px){
#sc6{
/*display*/
height:300vw;
}
.tt7{
/*font*/
font-size:10vw;
}
.dv10{
/*display*/
flex-direction:column;
}
.dv11{
/*display*/
display:flex;
margin:10vw 0;
flex-direction:column;
justify-content:center;
align-items:center;
}
.tt8{
/*font*/
font-size:10vw;
}
.tx6{
/*display*/
font-size:6vw;
}
.im7{
/*display*/
display:flex;
width:60vw;
margin:5vw 0 0 0;
justify-content:center;
align-items:center;
}
}
/*--|Contribuição|--*/