[data-aos][data-aos][data-aos-duration="50"],body[data-aos-duration="50"] [data-aos]{transition-duration:50ms}[data-aos][data-aos][data-aos-delay="50"],body[data-aos-delay="50"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="50"].aos-animate,body[data-aos-delay="50"] [data-aos].aos-animate{transition-delay:50ms}[data-aos][data-aos][data-aos-duration="100"],body[data-aos-duration="100"] [data-aos]{transition-duration:.1s}[data-aos][data-aos][data-aos-delay="100"],body[data-aos-delay="100"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="100"].aos-animate,body[data-aos-delay="100"] [data-aos].aos-animate{transition-delay:.1s}[data-aos][data-aos][data-aos-duration="150"],body[data-aos-duration="150"] [data-aos]{transition-duration:.15s}[data-aos][data-aos][data-aos-delay="150"],body[data-aos-delay="150"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="150"].aos-animate,body[data-aos-delay="150"] [data-aos].aos-animate{transition-delay:.15s}[data-aos][data-aos][data-aos-duration="200"],body[data-aos-duration="200"] [data-aos]{transition-duration:.2s}[data-aos][data-aos][data-aos-delay="200"],body[data-aos-delay="200"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="200"].aos-animate,body[data-aos-delay="200"] [data-aos].aos-animate{transition-delay:.2s}[data-aos][data-aos][data-aos-duration="250"],body[data-aos-duration="250"] [data-aos]{transition-duration:.25s}[data-aos][data-aos][data-aos-delay="250"],body[data-aos-delay="250"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="250"].aos-animate,body[data-aos-delay="250"] [data-aos].aos-animate{transition-delay:.25s}[data-aos][data-aos][data-aos-duration="300"],body[data-aos-duration="300"] [data-aos]{transition-duration:.3s}[data-aos][data-aos][data-aos-delay="300"],body[data-aos-delay="300"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="300"].aos-animate,body[data-aos-delay="300"] [data-aos].aos-animate{transition-delay:.3s}[data-aos][data-aos][data-aos-duration="350"],body[data-aos-duration="350"] [data-aos]{transition-duration:.35s}[data-aos][data-aos][data-aos-delay="350"],body[data-aos-delay="350"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="350"].aos-animate,body[data-aos-delay="350"] [data-aos].aos-animate{transition-delay:.35s}[data-aos][data-aos][data-aos-duration="400"],body[data-aos-duration="400"] [data-aos]{transition-duration:.4s}[data-aos][data-aos][data-aos-delay="400"],body[data-aos-delay="400"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="400"].aos-animate,body[data-aos-delay="400"] [data-aos].aos-animate{transition-delay:.4s}[data-aos][data-aos][data-aos-duration="450"],body[data-aos-duration="450"] [data-aos]{transition-duration:.45s}[data-aos][data-aos][data-aos-delay="450"],body[data-aos-delay="450"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="450"].aos-animate,body[data-aos-delay="450"] [data-aos].aos-animate{transition-delay:.45s}[data-aos][data-aos][data-aos-duration="500"],body[data-aos-duration="500"] [data-aos]{transition-duration:.5s}[data-aos][data-aos][data-aos-delay="500"],body[data-aos-delay="500"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="500"].aos-animate,body[data-aos-delay="500"] [data-aos].aos-animate{transition-delay:.5s}[data-aos][data-aos][data-aos-duration="550"],body[data-aos-duration="550"] [data-aos]{transition-duration:.55s}[data-aos][data-aos][data-aos-delay="550"],body[data-aos-delay="550"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="550"].aos-animate,body[data-aos-delay="550"] [data-aos].aos-animate{transition-delay:.55s}[data-aos][data-aos][data-aos-duration="600"],body[data-aos-duration="600"] [data-aos]{transition-duration:.6s}[data-aos][data-aos][data-aos-delay="600"],body[data-aos-delay="600"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="600"].aos-animate,body[data-aos-delay="600"] [data-aos].aos-animate{transition-delay:.6s}[data-aos][data-aos][data-aos-duration="650"],body[data-aos-duration="650"] [data-aos]{transition-duration:.65s}[data-aos][data-aos][data-aos-delay="650"],body[data-aos-delay="650"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="650"].aos-animate,body[data-aos-delay="650"] [data-aos].aos-animate{transition-delay:.65s}[data-aos][data-aos][data-aos-duration="700"],body[data-aos-duration="700"] [data-aos]{transition-duration:.7s}[data-aos][data-aos][data-aos-delay="700"],body[data-aos-delay="700"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="700"].aos-animate,body[data-aos-delay="700"] [data-aos].aos-animate{transition-delay:.7s}[data-aos][data-aos][data-aos-duration="750"],body[data-aos-duration="750"] [data-aos]{transition-duration:.75s}[data-aos][data-aos][data-aos-delay="750"],body[data-aos-delay="750"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="750"].aos-animate,body[data-aos-delay="750"] [data-aos].aos-animate{transition-delay:.75s}[data-aos][data-aos][data-aos-duration="800"],body[data-aos-duration="800"] [data-aos]{transition-duration:.8s}[data-aos][data-aos][data-aos-delay="800"],body[data-aos-delay="800"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="800"].aos-animate,body[data-aos-delay="800"] [data-aos].aos-animate{transition-delay:.8s}[data-aos][data-aos][data-aos-duration="850"],body[data-aos-duration="850"] [data-aos]{transition-duration:.85s}[data-aos][data-aos][data-aos-delay="850"],body[data-aos-delay="850"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="850"].aos-animate,body[data-aos-delay="850"] [data-aos].aos-animate{transition-delay:.85s}[data-aos][data-aos][data-aos-duration="900"],body[data-aos-duration="900"] [data-aos]{transition-duration:.9s}[data-aos][data-aos][data-aos-delay="900"],body[data-aos-delay="900"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="900"].aos-animate,body[data-aos-delay="900"] [data-aos].aos-animate{transition-delay:.9s}[data-aos][data-aos][data-aos-duration="950"],body[data-aos-duration="950"] [data-aos]{transition-duration:.95s}[data-aos][data-aos][data-aos-delay="950"],body[data-aos-delay="950"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="950"].aos-animate,body[data-aos-delay="950"] [data-aos].aos-animate{transition-delay:.95s}[data-aos][data-aos][data-aos-duration="1000"],body[data-aos-duration="1000"] [data-aos]{transition-duration:1s}[data-aos][data-aos][data-aos-delay="1000"],body[data-aos-delay="1000"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1000"].aos-animate,body[data-aos-delay="1000"] [data-aos].aos-animate{transition-delay:1s}[data-aos][data-aos][data-aos-duration="1050"],body[data-aos-duration="1050"] [data-aos]{transition-duration:1.05s}[data-aos][data-aos][data-aos-delay="1050"],body[data-aos-delay="1050"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1050"].aos-animate,body[data-aos-delay="1050"] [data-aos].aos-animate{transition-delay:1.05s}[data-aos][data-aos][data-aos-duration="1100"],body[data-aos-duration="1100"] [data-aos]{transition-duration:1.1s}[data-aos][data-aos][data-aos-delay="1100"],body[data-aos-delay="1100"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1100"].aos-animate,body[data-aos-delay="1100"] [data-aos].aos-animate{transition-delay:1.1s}[data-aos][data-aos][data-aos-duration="1150"],body[data-aos-duration="1150"] [data-aos]{transition-duration:1.15s}[data-aos][data-aos][data-aos-delay="1150"],body[data-aos-delay="1150"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1150"].aos-animate,body[data-aos-delay="1150"] [data-aos].aos-animate{transition-delay:1.15s}[data-aos][data-aos][data-aos-duration="1200"],body[data-aos-duration="1200"] [data-aos]{transition-duration:1.2s}[data-aos][data-aos][data-aos-delay="1200"],body[data-aos-delay="1200"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1200"].aos-animate,body[data-aos-delay="1200"] [data-aos].aos-animate{transition-delay:1.2s}[data-aos][data-aos][data-aos-duration="1250"],body[data-aos-duration="1250"] [data-aos]{transition-duration:1.25s}[data-aos][data-aos][data-aos-delay="1250"],body[data-aos-delay="1250"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1250"].aos-animate,body[data-aos-delay="1250"] [data-aos].aos-animate{transition-delay:1.25s}[data-aos][data-aos][data-aos-duration="1300"],body[data-aos-duration="1300"] [data-aos]{transition-duration:1.3s}[data-aos][data-aos][data-aos-delay="1300"],body[data-aos-delay="1300"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1300"].aos-animate,body[data-aos-delay="1300"] [data-aos].aos-animate{transition-delay:1.3s}[data-aos][data-aos][data-aos-duration="1350"],body[data-aos-duration="1350"] [data-aos]{transition-duration:1.35s}[data-aos][data-aos][data-aos-delay="1350"],body[data-aos-delay="1350"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1350"].aos-animate,body[data-aos-delay="1350"] [data-aos].aos-animate{transition-delay:1.35s}[data-aos][data-aos][data-aos-duration="1400"],body[data-aos-duration="1400"] [data-aos]{transition-duration:1.4s}[data-aos][data-aos][data-aos-delay="1400"],body[data-aos-delay="1400"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1400"].aos-animate,body[data-aos-delay="1400"] [data-aos].aos-animate{transition-delay:1.4s}[data-aos][data-aos][data-aos-duration="1450"],body[data-aos-duration="1450"] [data-aos]{transition-duration:1.45s}[data-aos][data-aos][data-aos-delay="1450"],body[data-aos-delay="1450"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1450"].aos-animate,body[data-aos-delay="1450"] [data-aos].aos-animate{transition-delay:1.45s}[data-aos][data-aos][data-aos-duration="1500"],body[data-aos-duration="1500"] [data-aos]{transition-duration:1.5s}[data-aos][data-aos][data-aos-delay="1500"],body[data-aos-delay="1500"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1500"].aos-animate,body[data-aos-delay="1500"] [data-aos].aos-animate{transition-delay:1.5s}[data-aos][data-aos][data-aos-duration="1550"],body[data-aos-duration="1550"] [data-aos]{transition-duration:1.55s}[data-aos][data-aos][data-aos-delay="1550"],body[data-aos-delay="1550"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1550"].aos-animate,body[data-aos-delay="1550"] [data-aos].aos-animate{transition-delay:1.55s}[data-aos][data-aos][data-aos-duration="1600"],body[data-aos-duration="1600"] [data-aos]{transition-duration:1.6s}[data-aos][data-aos][data-aos-delay="1600"],body[data-aos-delay="1600"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1600"].aos-animate,body[data-aos-delay="1600"] [data-aos].aos-animate{transition-delay:1.6s}[data-aos][data-aos][data-aos-duration="1650"],body[data-aos-duration="1650"] [data-aos]{transition-duration:1.65s}[data-aos][data-aos][data-aos-delay="1650"],body[data-aos-delay="1650"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1650"].aos-animate,body[data-aos-delay="1650"] [data-aos].aos-animate{transition-delay:1.65s}[data-aos][data-aos][data-aos-duration="1700"],body[data-aos-duration="1700"] [data-aos]{transition-duration:1.7s}[data-aos][data-aos][data-aos-delay="1700"],body[data-aos-delay="1700"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1700"].aos-animate,body[data-aos-delay="1700"] [data-aos].aos-animate{transition-delay:1.7s}[data-aos][data-aos][data-aos-duration="1750"],body[data-aos-duration="1750"] [data-aos]{transition-duration:1.75s}[data-aos][data-aos][data-aos-delay="1750"],body[data-aos-delay="1750"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1750"].aos-animate,body[data-aos-delay="1750"] [data-aos].aos-animate{transition-delay:1.75s}[data-aos][data-aos][data-aos-duration="1800"],body[data-aos-duration="1800"] [data-aos]{transition-duration:1.8s}[data-aos][data-aos][data-aos-delay="1800"],body[data-aos-delay="1800"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1800"].aos-animate,body[data-aos-delay="1800"] [data-aos].aos-animate{transition-delay:1.8s}[data-aos][data-aos][data-aos-duration="1850"],body[data-aos-duration="1850"] [data-aos]{transition-duration:1.85s}[data-aos][data-aos][data-aos-delay="1850"],body[data-aos-delay="1850"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1850"].aos-animate,body[data-aos-delay="1850"] [data-aos].aos-animate{transition-delay:1.85s}[data-aos][data-aos][data-aos-duration="1900"],body[data-aos-duration="1900"] [data-aos]{transition-duration:1.9s}[data-aos][data-aos][data-aos-delay="1900"],body[data-aos-delay="1900"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1900"].aos-animate,body[data-aos-delay="1900"] [data-aos].aos-animate{transition-delay:1.9s}[data-aos][data-aos][data-aos-duration="1950"],body[data-aos-duration="1950"] [data-aos]{transition-duration:1.95s}[data-aos][data-aos][data-aos-delay="1950"],body[data-aos-delay="1950"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1950"].aos-animate,body[data-aos-delay="1950"] [data-aos].aos-animate{transition-delay:1.95s}[data-aos][data-aos][data-aos-duration="2000"],body[data-aos-duration="2000"] [data-aos]{transition-duration:2s}[data-aos][data-aos][data-aos-delay="2000"],body[data-aos-delay="2000"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2000"].aos-animate,body[data-aos-delay="2000"] [data-aos].aos-animate{transition-delay:2s}[data-aos][data-aos][data-aos-duration="2050"],body[data-aos-duration="2050"] [data-aos]{transition-duration:2.05s}[data-aos][data-aos][data-aos-delay="2050"],body[data-aos-delay="2050"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2050"].aos-animate,body[data-aos-delay="2050"] [data-aos].aos-animate{transition-delay:2.05s}[data-aos][data-aos][data-aos-duration="2100"],body[data-aos-duration="2100"] [data-aos]{transition-duration:2.1s}[data-aos][data-aos][data-aos-delay="2100"],body[data-aos-delay="2100"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2100"].aos-animate,body[data-aos-delay="2100"] [data-aos].aos-animate{transition-delay:2.1s}[data-aos][data-aos][data-aos-duration="2150"],body[data-aos-duration="2150"] [data-aos]{transition-duration:2.15s}[data-aos][data-aos][data-aos-delay="2150"],body[data-aos-delay="2150"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2150"].aos-animate,body[data-aos-delay="2150"] [data-aos].aos-animate{transition-delay:2.15s}[data-aos][data-aos][data-aos-duration="2200"],body[data-aos-duration="2200"] [data-aos]{transition-duration:2.2s}[data-aos][data-aos][data-aos-delay="2200"],body[data-aos-delay="2200"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2200"].aos-animate,body[data-aos-delay="2200"] [data-aos].aos-animate{transition-delay:2.2s}[data-aos][data-aos][data-aos-duration="2250"],body[data-aos-duration="2250"] [data-aos]{transition-duration:2.25s}[data-aos][data-aos][data-aos-delay="2250"],body[data-aos-delay="2250"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2250"].aos-animate,body[data-aos-delay="2250"] [data-aos].aos-animate{transition-delay:2.25s}[data-aos][data-aos][data-aos-duration="2300"],body[data-aos-duration="2300"] [data-aos]{transition-duration:2.3s}[data-aos][data-aos][data-aos-delay="2300"],body[data-aos-delay="2300"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2300"].aos-animate,body[data-aos-delay="2300"] [data-aos].aos-animate{transition-delay:2.3s}[data-aos][data-aos][data-aos-duration="2350"],body[data-aos-duration="2350"] [data-aos]{transition-duration:2.35s}[data-aos][data-aos][data-aos-delay="2350"],body[data-aos-delay="2350"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2350"].aos-animate,body[data-aos-delay="2350"] [data-aos].aos-animate{transition-delay:2.35s}[data-aos][data-aos][data-aos-duration="2400"],body[data-aos-duration="2400"] [data-aos]{transition-duration:2.4s}[data-aos][data-aos][data-aos-delay="2400"],body[data-aos-delay="2400"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2400"].aos-animate,body[data-aos-delay="2400"] [data-aos].aos-animate{transition-delay:2.4s}[data-aos][data-aos][data-aos-duration="2450"],body[data-aos-duration="2450"] [data-aos]{transition-duration:2.45s}[data-aos][data-aos][data-aos-delay="2450"],body[data-aos-delay="2450"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2450"].aos-animate,body[data-aos-delay="2450"] [data-aos].aos-animate{transition-delay:2.45s}[data-aos][data-aos][data-aos-duration="2500"],body[data-aos-duration="2500"] [data-aos]{transition-duration:2.5s}[data-aos][data-aos][data-aos-delay="2500"],body[data-aos-delay="2500"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2500"].aos-animate,body[data-aos-delay="2500"] [data-aos].aos-animate{transition-delay:2.5s}[data-aos][data-aos][data-aos-duration="2550"],body[data-aos-duration="2550"] [data-aos]{transition-duration:2.55s}[data-aos][data-aos][data-aos-delay="2550"],body[data-aos-delay="2550"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2550"].aos-animate,body[data-aos-delay="2550"] [data-aos].aos-animate{transition-delay:2.55s}[data-aos][data-aos][data-aos-duration="2600"],body[data-aos-duration="2600"] [data-aos]{transition-duration:2.6s}[data-aos][data-aos][data-aos-delay="2600"],body[data-aos-delay="2600"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2600"].aos-animate,body[data-aos-delay="2600"] [data-aos].aos-animate{transition-delay:2.6s}[data-aos][data-aos][data-aos-duration="2650"],body[data-aos-duration="2650"] [data-aos]{transition-duration:2.65s}[data-aos][data-aos][data-aos-delay="2650"],body[data-aos-delay="2650"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2650"].aos-animate,body[data-aos-delay="2650"] [data-aos].aos-animate{transition-delay:2.65s}[data-aos][data-aos][data-aos-duration="2700"],body[data-aos-duration="2700"] [data-aos]{transition-duration:2.7s}[data-aos][data-aos][data-aos-delay="2700"],body[data-aos-delay="2700"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2700"].aos-animate,body[data-aos-delay="2700"] [data-aos].aos-animate{transition-delay:2.7s}[data-aos][data-aos][data-aos-duration="2750"],body[data-aos-duration="2750"] [data-aos]{transition-duration:2.75s}[data-aos][data-aos][data-aos-delay="2750"],body[data-aos-delay="2750"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2750"].aos-animate,body[data-aos-delay="2750"] [data-aos].aos-animate{transition-delay:2.75s}[data-aos][data-aos][data-aos-duration="2800"],body[data-aos-duration="2800"] [data-aos]{transition-duration:2.8s}[data-aos][data-aos][data-aos-delay="2800"],body[data-aos-delay="2800"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2800"].aos-animate,body[data-aos-delay="2800"] [data-aos].aos-animate{transition-delay:2.8s}[data-aos][data-aos][data-aos-duration="2850"],body[data-aos-duration="2850"] [data-aos]{transition-duration:2.85s}[data-aos][data-aos][data-aos-delay="2850"],body[data-aos-delay="2850"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2850"].aos-animate,body[data-aos-delay="2850"] [data-aos].aos-animate{transition-delay:2.85s}[data-aos][data-aos][data-aos-duration="2900"],body[data-aos-duration="2900"] [data-aos]{transition-duration:2.9s}[data-aos][data-aos][data-aos-delay="2900"],body[data-aos-delay="2900"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2900"].aos-animate,body[data-aos-delay="2900"] [data-aos].aos-animate{transition-delay:2.9s}[data-aos][data-aos][data-aos-duration="2950"],body[data-aos-duration="2950"] [data-aos]{transition-duration:2.95s}[data-aos][data-aos][data-aos-delay="2950"],body[data-aos-delay="2950"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2950"].aos-animate,body[data-aos-delay="2950"] [data-aos].aos-animate{transition-delay:2.95s}[data-aos][data-aos][data-aos-duration="3000"],body[data-aos-duration="3000"] [data-aos]{transition-duration:3s}[data-aos][data-aos][data-aos-delay="3000"],body[data-aos-delay="3000"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="3000"].aos-animate,body[data-aos-delay="3000"] [data-aos].aos-animate{transition-delay:3s}[data-aos][data-aos][data-aos-easing=linear],body[data-aos-easing=linear] [data-aos]{transition-timing-function:cubic-bezier(.25,.25,.75,.75)}[data-aos][data-aos][data-aos-easing=ease],body[data-aos-easing=ease] [data-aos]{transition-timing-function:ease}[data-aos][data-aos][data-aos-easing=ease-in],body[data-aos-easing=ease-in] [data-aos]{transition-timing-function:ease-in}[data-aos][data-aos][data-aos-easing=ease-out],body[data-aos-easing=ease-out] [data-aos]{transition-timing-function:ease-out}[data-aos][data-aos][data-aos-easing=ease-in-out],body[data-aos-easing=ease-in-out] [data-aos]{transition-timing-function:ease-in-out}[data-aos][data-aos][data-aos-easing=ease-in-back],body[data-aos-easing=ease-in-back] [data-aos]{transition-timing-function:cubic-bezier(.6,-.28,.735,.045)}[data-aos][data-aos][data-aos-easing=ease-out-back],body[data-aos-easing=ease-out-back] [data-aos]{transition-timing-function:cubic-bezier(.175,.885,.32,1.275)}[data-aos][data-aos][data-aos-easing=ease-in-out-back],body[data-aos-easing=ease-in-out-back] [data-aos]{transition-timing-function:cubic-bezier(.68,-.55,.265,1.55)}[data-aos][data-aos][data-aos-easing=ease-in-sine],body[data-aos-easing=ease-in-sine] [data-aos]{transition-timing-function:cubic-bezier(.47,0,.745,.715)}[data-aos][data-aos][data-aos-easing=ease-out-sine],body[data-aos-easing=ease-out-sine] [data-aos]{transition-timing-function:cubic-bezier(.39,.575,.565,1)}[data-aos][data-aos][data-aos-easing=ease-in-out-sine],body[data-aos-easing=ease-in-out-sine] [data-aos]{transition-timing-function:cubic-bezier(.445,.05,.55,.95)}[data-aos][data-aos][data-aos-easing=ease-in-quad],body[data-aos-easing=ease-in-quad] [data-aos]{transition-timing-function:cubic-bezier(.55,.085,.68,.53)}[data-aos][data-aos][data-aos-easing=ease-out-quad],body[data-aos-easing=ease-out-quad] [data-aos]{transition-timing-function:cubic-bezier(.25,.46,.45,.94)}[data-aos][data-aos][data-aos-easing=ease-in-out-quad],body[data-aos-easing=ease-in-out-quad] [data-aos]{transition-timing-function:cubic-bezier(.455,.03,.515,.955)}[data-aos][data-aos][data-aos-easing=ease-in-cubic],body[data-aos-easing=ease-in-cubic] [data-aos]{transition-timing-function:cubic-bezier(.55,.085,.68,.53)}[data-aos][data-aos][data-aos-easing=ease-out-cubic],body[data-aos-easing=ease-out-cubic] [data-aos]{transition-timing-function:cubic-bezier(.25,.46,.45,.94)}[data-aos][data-aos][data-aos-easing=ease-in-out-cubic],body[data-aos-easing=ease-in-out-cubic] [data-aos]{transition-timing-function:cubic-bezier(.455,.03,.515,.955)}[data-aos][data-aos][data-aos-easing=ease-in-quart],body[data-aos-easing=ease-in-quart] [data-aos]{transition-timing-function:cubic-bezier(.55,.085,.68,.53)}[data-aos][data-aos][data-aos-easing=ease-out-quart],body[data-aos-easing=ease-out-quart] [data-aos]{transition-timing-function:cubic-bezier(.25,.46,.45,.94)}[data-aos][data-aos][data-aos-easing=ease-in-out-quart],body[data-aos-easing=ease-in-out-quart] [data-aos]{transition-timing-function:cubic-bezier(.455,.03,.515,.955)}[data-aos^=fade][data-aos^=fade]{opacity:0;transition-property:opacity,transform}[data-aos^=fade][data-aos^=fade].aos-animate{opacity:1;transform:translateZ(0)}[data-aos=fade-up]{transform:translate3d(0,100px,0)}[data-aos=fade-down]{transform:translate3d(0,-100px,0)}[data-aos=fade-right]{transform:translate3d(-100px,0,0)}[data-aos=fade-left]{transform:translate3d(100px,0,0)}[data-aos=fade-up-right]{transform:translate3d(-100px,100px,0)}[data-aos=fade-up-left]{transform:translate3d(100px,100px,0)}[data-aos=fade-down-right]{transform:translate3d(-100px,-100px,0)}[data-aos=fade-down-left]{transform:translate3d(100px,-100px,0)}[data-aos^=zoom][data-aos^=zoom]{opacity:0;transition-property:opacity,transform}[data-aos^=zoom][data-aos^=zoom].aos-animate{opacity:1;transform:translateZ(0) scale(1)}[data-aos=zoom-in]{transform:scale(.6)}[data-aos=zoom-in-up]{transform:translate3d(0,100px,0) scale(.6)}[data-aos=zoom-in-down]{transform:translate3d(0,-100px,0) scale(.6)}[data-aos=zoom-in-right]{transform:translate3d(-100px,0,0) scale(.6)}[data-aos=zoom-in-left]{transform:translate3d(100px,0,0) scale(.6)}[data-aos=zoom-out]{transform:scale(1.2)}[data-aos=zoom-out-up]{transform:translate3d(0,100px,0) scale(1.2)}[data-aos=zoom-out-down]{transform:translate3d(0,-100px,0) scale(1.2)}[data-aos=zoom-out-right]{transform:translate3d(-100px,0,0) scale(1.2)}[data-aos=zoom-out-left]{transform:translate3d(100px,0,0) scale(1.2)}[data-aos^=slide][data-aos^=slide]{transition-property:transform}[data-aos^=slide][data-aos^=slide].aos-animate{transform:translateZ(0)}[data-aos=slide-up]{transform:translate3d(0,100%,0)}[data-aos=slide-down]{transform:translate3d(0,-100%,0)}[data-aos=slide-right]{transform:translate3d(-100%,0,0)}[data-aos=slide-left]{transform:translate3d(100%,0,0)}[data-aos^=flip][data-aos^=flip]{backface-visibility:hidden;transition-property:transform}[data-aos=flip-left]{transform:perspective(2500px) rotateY(-100deg)}[data-aos=flip-left].aos-animate{transform:perspective(2500px) rotateY(0)}[data-aos=flip-right]{transform:perspective(2500px) rotateY(100deg)}[data-aos=flip-right].aos-animate{transform:perspective(2500px) rotateY(0)}[data-aos=flip-up]{transform:perspective(2500px) rotateX(-100deg)}[data-aos=flip-up].aos-animate{transform:perspective(2500px) rotateX(0)}[data-aos=flip-down]{transform:perspective(2500px) rotateX(100deg)}[data-aos=flip-down].aos-animate{transform:perspective(2500px) rotateX(0)}
/*--|All|--*/
@font-face{
font-family:'Christ';
src:url('font/c7.ttf')format('truetype');
}
*{
/*font*/
font-family:'Christ';
font-size:1.5vw;
color:#F0F0F0;
/*display*/
margin:0;
padding:0;
box-sizing:content-box;
}
::selection {
background-color:#F0F0F0;
color:#0D0D0D;
}
/*--|All|--*/

/*--|Header|--*/
#hd{
/*display*/
position:fixed;
display:flex;
width:100%;
height:5vw;
top:0;
left:0;
right:0;
justify-content:space-between;
align-items:center;
background:#0D0D0D;
z-index:100;
}
#lg{
/*display*/
display:flex;
width:50%;
height:100%;
justify-content:flex-start;
align-items:center;
}
.lg{
/*display*/
position:relative;
display:flex;
width:4vw;
left:4vw;
/*border*/
border-radius:5vw;
/*cursor*/
cursor:pointer;
}
#ls{
/*font*/
list-style-type:none;
/*display*/
display:flex;
width:50%;
height:100%;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.nv{
/*font*/
font-size:1vw;
text-decoration:none;
color:transparent;
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.nv:hover{
/*font*/
color:#F0F0F0;
}
.im{
/*display*/
width:2vw;
}
#divhd{
/*display*/
display:none;
}
#lsm{
/*display*/
display:none;
}
@media screen and (max-width: 768px){
#hd{
/*display*/
width:100%;
height:15vw;
}
.lg{
/*display*/
width:12vw;
/*border*/
border-radius:50%;
}
#ls{
/*display*/
display:none;
}
#divhd{
/*display*/
position:relative;
display:flex;
}
#mnm{
/*display*/
width:10vw;
}
#lsm{
/*font*/
text-align:left;
list-style-type:none;
/*display*/
display:none;
position:absolute;
padding:5vw 10vw;
top:0;
right:-5vw;
flex-direction:column;
justify-content:center;
align-items:flex-end;
background:#0D0D0D;
/*border*/
border-radius:5vw;
}
.nvls{
/*font*/
font-size:5vw;
text-align:left;
text-decoration:none;
/*display*/
display:flex;
margin:2vw 0;
flex-direction:row-reverse;
justify-content:left;
align-items:center;
}
.im{
/*display*/
width:8vw;
margin:0 0 0 5vw;
}
}
/*--|Header|--*/

/*--|Footer|--*/
#ft{
/*display*/
position:absolute;
display:flex;
width:100%;
height:4vw;
bottom:revert;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0D0D0D;
}
.dvft{
/*display*/
display:flex;
width:30%;
justify-content:space-evenly;
align-items:center;
}
.lk{
/*font*/
font-size:1.5vw;
font-weight:500;
text-align:center;
text-decoration:none;
/*display*/
}
.txft:hover{
/*font*/
text-shadow:0.1vw 0.1vw 1vw #F0F0F0;
color:#0D0D0D;
}
@media screen and (max-width: 768px){
#ft{
/*display*/
height:40vw;
}
.dvft{
/*display*/
width:95%;
flex-direction:column;
}
.txft{
/*font*/
font-size:6vw;
}
.txft img{
/*display*/
width:8vw;
}
#ft p{
/*font*/
font-size:6vw;
text-align:center;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
}
/*--|Footer|--*/

/*--|Main|--*/
#sc1{
/*display*/
position:relative;
display:flex;
width:100%;
height:48vw;
margin:2vw 0 0 0;
padding:0;
flex-direction:row;
justify-content:center;
align-items:center;
background-image:url('images/js.jpg');
background-size:cover;
background-position:center;
}
#sc1::after {
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-color: rgba(0, 0, 0, 0.3); /* Aqui você pode ajustar a opacidade alterando o último valor (0.5) */
}
.dv1{
/*display*/
display:flex;
width:50%;
flex-direction:column;
justify-content:center;
align-items:center;
z-index:1;
}
.tt1{
/*font*/
font-size:4vw;
font-weight:900;
text-align:center;
text-shadow:0.1vw 0.1vw 0.2vw #0D0D0D;
color:#F0F0F0;
/*display*/
display:flex;
width:90vw;
margin:0 0 20vw 0;
justify-content:center;
align-items:center;
}
.tt2{
/*font*/
font-size:4vw;
font-weight:900;
text-align:center;
text-shadow:0.1vw 0.1vw 0.2vw #0D0D0D;
color:#F0F0F0;
/*display*/
display:flex;
width:90vw;
justify-content:center;
align-items:center;
}
#sc2{
/*display*/
display:flex;
width:100%;
height:48vw;
flex-direction:row-reverse;
justify-content:space-around;
align-items:center;
background:#0D0D0D;
}
.dv2{
/*display*/
display:flex;
width:50%;
flex-wrap:wrap;
flex-direction:row;
justify-content:space-around;
align-items:center;
}
.vd1{
/*display*/
width:25vw;
height:35vw;
z-index:1;
/*border*/
border-radius: 2vw;
}
.bl{
/*display*/
position:absolute;
top:15vw;
left:20vw;
width:10vw;
height:10vw;
filter:blur(10vw);
border-radius:50%;
background:#F0F0F0;
}
.tt3{
/*font*/
font-size:2vw;
font-weight:900;
/*display*/
display:flex;
width:100%;
margin:0 0 10vw 0;
justify-content:center;
align-items:center;
}
.tx1{
/*font*/
text-align:justify;
hyphens:auto;
/*display*/
display:flex;
width:100%;
margin:0 0 0 5vw;
justify-content:flex-start;
align-items:center;
}
#sc3{
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0D0D0D;
}
.bl0{
/*display*/
position:absolute;
top:125vw;
left:20vw;
width:10vw;
height:10vw;
filter:blur(10vw);
border-radius:50%;
background:#F0F0F0;
}
.lk0{
/*font*/
font-size:1.5vw;
text-align:center;
text-decoration:none;
color:#0D0D0D;
/*display*/
display:flex;
width:10vw;
height:2vw;
padding:1vw;
justify-content:center;
align-items:center;
background:#F0F0F0;
/*border*/
border-radius:2vw;
}
.lk0:hover{
/*font*/
color:#F0F0F0;
/*display*/
background:#0D0D0D;
/*border*/
box-shadow:0.1vw 0.1vw 1vw #F0F0F0;
}
#contato{
/*display*/
display:flex;
width:100%;
height:50vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0D0D0D;
}
.tt5{
/*font*/
font-size:2vw;
text-align:center;
/*display*/
margin:5vw 0 0 0;
}
.dv4{
/*display*/
display:flex;
width:100%;
flex-direction:row-reverse;
justify-content:center;
align-items:center;
}
.dv5{
/*display*/
display:flex;
width:45%;
flex-direction:column;
justify-content:center;
align-items:center;
}
.tx4{
/*font*/
font-size:1.5vw;
text-align:center;
text-decoration:none;
hyphens:auto;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.tx4:hover{
/*font*/
text-shadow:0.1vw 0.1vw 0.5vw #F0F0F0;
}
.dv6{
/*display*/
display:flex;
width:45%;
margin:2vw 0 0 0;
flex-direction:row;
justify-content:center;
align-items:center;
}
.im4{
/*display*/
display:flex;
width:3vw;
margin:1vw;
justify-content:space-evenly;
align-items:center;
}
.im4:hover{
/*font*/
filter: brightness(0.5);
}
.dv7{
/*display*/
display:flex;
width:50%;
padding:5vw;
justify-content:center;
align-items:center;
}
.im5{
/*display*/
/*border*/
box-shadow:0.2vw 0.2vw 1vw #F0F0F0;
border-radius:2vw;
}
@media screen and (max-width: 768px){
#sc1{
/*display*/
height:220vw;
background-image:url('images/js1.jpg');
}
#sc1::after {
background-color: rgba(0, 0, 0, 0.5);
}
.dv1{
/*display*/
width:100%;
}
.tt1{
/*font*/
font-size:10vw;
text-align:center;
/*display*/
margin:0 0 60vw 0;
}
.tt2{
/*font*/
font-size:10vw;
text-align:center;
}
#sc2{
/*display*/
height:290vw;
flex-direction:column;
}
.dv2{
/*display*/
display:flex;
width:90%;
justify-content:center;
align-items: center;
}
.vd1{
/*display*/
display:flex;
position: absolute;
width: 100vw;
height: 100vw;
top:-30vw;
justify-content:center;
align-items:center;
}
.bl{
/*display*/
display:none;
}
.tt3{
/*font*/
font-size:10vw;
text-align: center;
}
.tx1{
/*font*/
font-size:6vw;
hyphens:auto;
/*display*/
width:90%;
margin:0;
justify-content:center;
}
#sc3{
/*display*/
height:260vw;
}
.bl0{
/*display*/
top:555vw;
left:13vw;
width:70vw;
height:70vw;
filter:blur(15vw);
}
.lk0{
/*font*/
font-size:8vw;
/*display*/
width:50vw;
height:10vw;
margin:10vw 0 0 0;
/*border*/
border-radius:20vw;
}
#contato{
/*display*/
height:200vw;
}
.tt5{
/*font*/
font-size:10vw;
}
.dv4{
/*display*/
flex-direction:column-reverse;
}
.dv5{
/*display*/
width:80%;
}
.tx4{
/*font*/
font-size:6vw;
}
.lk{
/*font*/
font-size:6vw;
}
.dv6{
/*display*/
width:80%;
}
.im4{
/*display*/
width:15vw;
margin:5vw;
}
.dv7{
/*display*/
width:80%;
padding:10vw 0;
}
.im5{
/*border*/
box-shadow:0.5vw 0.5vw 2vw #F0F0F0;
}
}
/*--|Main|--*/

/*--|Sobre Nós|--*/
#sc5{
/*display*/
display:flex;
width:100%;
height:55vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0D0D0D;
}
.tt6{
/*font*/
font-size:2vw;
color:#F0F0F0;
/*display*/
display:flex;
margin:6vw 0 2vw 0;
justify-content:center;
align-items:center;
}
.dv8{
/*display*/
display:flex;
width:100%;
margin:2vw;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.im6{
/*display*/
display:flex;
width:30vw;
justify-content:center;
align-items:center;
z-index:1;
clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
/*border*/
border-radius:2vw;
}
.bl1{
/*display*/
position:absolute;
top:20vw;
left:18vw;
width:10vw;
height:10vw;
filter:blur(15vw);
border-radius:50%;
background:#F0F0F0;
}
.dv9{
/*display*/
display:flex;
width:50%;
flex-direction:column;
justify-content:center;
align-items:center;
}
.tx5{
/*font*/
text-align:justify;
hyphens:auto;
color:#F0F0F0;
/*dispaly*/
display:flex;
width:90%;
margin:0 0 3vw 0;
justify-content:center;
align-items:center;
}
@media screen and (max-width: 768px){
#sc5{
/*display*/
height:440vw;
flex-direction:column;
justify-content:center;
align-items:center;
}
.tt6{
/*font*/
font-size:10vw;
/*display*/
margin:5vw 0 5vw 0;
}
.dv8{
/*display*/
flex-direction:column;
}
.im6{
/*display*/
width:85vw;
}
.bl1{
/*display*/
top:70vw;
left:13vw;
width:70vw;
height:70vw;
}
.dv9{
/*display*/
width:100%;
margin:5vw 0;
}
.tx5{
/*font*/
font-size:6vw;
hyphens:auto;
/*dispaly*/
width:80%;
}
}
/*--|Sobre Nós|--*/

/*--|Contribuição|--*/
#sc6{
/*display*/
display:flex;
width:100%;
height:47vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0D0D0D;
}
.tt7{
/*font*/
font-size:2vw;
text-align:center;
/*display*/
width:100%;
margin:2.5vw;
}
.dv10{
/*display*/
display:flex;
width:100%;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.dv11{
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.im7{
/*display*/
display:flex;
width:20vw;
margin:2vw 0 0 0;
justify-content:center;
align-items:center;
}
.tx6{
/*display*/
hyphens:auto;
}
@media screen and (max-width: 768px){
#sc6{
/*display*/
height:300vw;
}
.tt7{
/*font*/
font-size:10vw;
}
.dv10{
/*display*/
flex-direction:column;
}
.dv11{
/*display*/
display:flex;
margin:10vw 0;
flex-direction:column;
justify-content:center;
align-items:center;
}
.tt8{
/*font*/
font-size:10vw;
}
.tx6{
/*display*/
font-size:6vw;
}
.im7{
/*display*/
display:flex;
width:60vw;
margin:5vw 0 0 0;
justify-content:center;
align-items:center;
}
}
/*--|Contribuição|--*/

/*--|Termos|--*/
#sectm{
/*display*/
display:flex;
width:100%;
height:55vw;
flex-direction:column;
justify-content:space-evenly;   
align-items:center;
background:#0D0D0D;
}
.tttm{
/*font*/
font-size:4vw;
/*display*/
margin-top:5vw;
}
.imtm{
/*display*/
width:5vw;
margin:0 1vw;
}
.dvtm{
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.txtm{
/*font*/
text-align:justify;
hyphens:auto;
color:#F0F0F0;
/*display*/
display:flex;
width:80%;
justify-content:center;
align-items:center;
}
@media screen and (max-width: 768px){
#sectm{
/*display*/
height:420vw;
}
.tttm{
/*font*/
font-size:10vw;
}
.txtm{
/*font*/
font-size:6vw;
}
}
/*--|Termos|--*/

/*--|Politica|--*/
#secpl{
/*display*/
display:flex;
width:100%;
height:55vw;
flex-direction:column;
justify-content:space-evenly;   
align-items:center;
background: #0D0D0D;
}
.ttpl{
/*font*/
font-size:4vw;
/*display*/
margin-top:5vw;
}
.impl{
/*display*/
width:5vw;
margin:0 1vw;
}
.dvpl{
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.txpl{
/*font*/
text-align:justify;
hyphens:auto;
color:#F0F0F0;
/*display*/
display:flex;
width:80%;
justify-content:center;
align-items:center;
}
@media screen and (max-width: 768px){
#secpl{
/*display*/
height:480vw;
}
.ttpl{
/*font*/
font-size:10vw;
}
.txpl{
/*font*/
font-size:6vw;
}
}
/*--|Politica|--*/